select, input {
  border-radius: 0 !important;
  font-size: 1em !important;
  padding: 6px 4px !important;
  height: 29px !important;
}

.row {
  margin: 0 !important;
}

.icon-input-container {
  position: relative;

  & > i {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.5em;
    z-index: -1;
  }
}

.file-text-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: transparent;
}

.custom-search-store-input {
  border: 1px solid #d2d6de;
  padding: 5px;
}