.stores-search-title {
  @extend %page-title;

  & > i {
    font-size: 1.5em;
    vertical-align: sub;
  }
}

.stores-search-container {

  & .stores-list {
    min-height: 570px;
    max-height: 570px;
    overflow-y: auto;

    & > .punto-list-item {
      background: #ffffff;
    }
  }
}

.stores-search-map {
  min-height: 500px;
}

.map-search-bar {
  background-color: $transporter-secondary;
  padding: 10px;
  display: flex;

  & > span {
    margin: 0 7px;
    text-align: center;
  }

  & > .location {
    flex: 1;

    & > .btn-location {
      border: solid 1px #dddddd;
      background-color: #dddddd;

      &:hover {
        //background-color: #c3c3c3;
        background: #eae7e7;
        border-color: #a2a2a2;
      }

      &:active {
        background-color: #9e9d9d;
        border-color: #807e7e;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
      }

      & > i {
        top: 13px;
        left: 12px;
      }
    }
  }

  & > .input {
    flex: 4;
    display: flex;
  }

  & .search-input {
    border-radius: 0;
    width: 100%;
    height: 90%;
    margin: auto;
  }

  & > .search {
    display: flex;
    flex: 2;
  }

  & .btn-buscar {
    width: 100%;
    height: 90%;
    margin: auto;
  }

}

.stores-list {

  & .punto-list-item.store-active::before {
    border-left: 6px solid $transporter-primary;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    content: '';
  }
}

.sin-stores {
  @extend %sin-datos;
}

//.horario-punto {
//  display: none;
//  margin-right: 10px;
//  font-size: 0.8em;
//}

.table-horario-popover {
  margin: 0;

  & .day {
    text-align: left !important;
    font-weight: bold;
  }
}

.ver-mas-link {
  cursor: pointer;
}

.popover-content .table-horario-popover tr td {
  background: #ffffff;
}

.popover-content  .table-horario-popover, .popover-content .table-horario-popover tr td {
  border: none !important;
}