.pagination-wrapper{
  margin-top: 5%;
}
.pagination {
  display: inline-block;
  margin:0!important;
  float:right;
  padding: 0!important;
}

.pagination li a , .pagination li span {
  color: #505050;
  float: left;
  padding-top: 0.33em ;
  font-weight: bold;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #e1e1e1;
  font-size: 15px;
}

.pagination a.active, .pagination .active span {
  background-color: $transporter-primary;
  color: $white;
  border: 1px solid #e1e1e1;
}

.pagination a:hover:not(.active) {
  background-color: #505050;
  color: #fff;
}
.pagination .active span:hover {
  background-color: #505050;
}