.qr svg {
  text-align: center;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
}
.qr svg:hover {
  cursor: pointer;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}