@import '../../../web/utils/mq';

.StoreGrid {
  // display: grid;
  // gap: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (min-width: map-get($mq-breakpoints, 'small')) {
    justify-content: flex-start;
    // grid-template-columns: repeat(3, 1fr);
    // padding: 0 2rem;
  }

  @media screen and (min-width: map-get($mq-breakpoints, 'sup-big')) {
    // grid-template-columns: repeat(4, 1fr);
  }

  &::before {
    content: none;
  }

  .OwnStoreCard, .GlobalStoreCard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 233px;
    // height: 174px;
    min-height: 15rem;
    margin: 0 2.5rem 2.5rem 0;
    border-radius: .5rem;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);

    .Content {
      display: flex;

      .image-container {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 1 1 auto;
        width: 179px;
        height: 86px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        padding: 1rem;

        .OverlayIcon {
          display: grid;
          place-items: center;
          color: #0097a7;
          cursor: default;
          font-size: 2rem;
          line-height: 1.8rem;
          &.shadow {
            filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.5));
          }
        }
      }
    }
  }

  .OwnStoreCard {
    &.faded::before {
      content: '';
      position: absolute;
      background: rgba(255, 255, 255, .66);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .Content {
      padding: 1.2rem;
      border-bottom: 1px solid #f4f4f4;

      .image-container {
        border: 1px solid #f4f4f4;
      }

      .Actions {
        display: flex;
        flex-direction: column;
        margin-left: .75rem;
        gap: .75rem;

        button {
          border: none;
          outline: none;
          color: #ffffff;
          background-color: #00C8FE;
          border-radius: .5rem;
          display: grid;
          place-items: center;
          width: 2.5rem;
          height: 2.5rem;
          padding: 0;

          .material-icons {
            font-size: 1.5rem;
          }

          &.block {
            background-color: #df4759;
          }

          &.activate {
            background-color: #00C67B;
          }
        }
      }

      .ModalDeactivateStoreBody {
        width: 50vw;

        .Warning{
          display: block;
          font-weight: bold;
          padding: 10px 0 0 20px;
          font-size: 2rem;
        }

        .TextInfo{
          padding: 10px 20px;
          font-size: 1.5rem;
        }

        .BtnCancel{
          color: #ff3d00;
        }
      }
    }

    .Address {
      font-size: 1.1rem;
      height: 100%;
      padding: 1rem;
      background-color: #FAFAFA;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .address-container {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
      }

      .address-container i {
        color: #0097a7;
        width: 2rem;
        font-size: 1.4rem;
        flex-shrink: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .ImageContainer, .ScheduleContainer div:first-child {
    margin-bottom: 0 !important;
  }
}

.GlobalStoreCard {
  .Content .image-container {
    width: 233px !important;
    height: 120px !important;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    .Acronym {
      background: #567E8D;
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0 0.75rem;
      border-radius: 0.5rem;
    }
  }

  .Actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    .Services {
      display: flex;

      .Action {
        border: none;
        background: transparent;
        display: flex;
      }

      i {
        font-size: 2rem;
        color: #0097a7;
      }
    }
  }
}

.AddStore {
  position: relative;
  display: grid;
  place-items: center;
  width: 25rem;
  min-height: 174px;
  margin: 0 2.5rem 2.5rem 0;

  .btn {
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;
    padding: 0;
    background-color: #0097a7;
    border-radius: 100%;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);

    i {
      color: #ffffff;
      font-weight: bold;
    }
  }
}

#modal-crear-almacen-recogida,
.StoreModal {
  .modal-dialog {
    width: 95vw;
  }
  @media screen and (min-width: 1200px) {
    .modal-dialog {
      width: 1210px;
      height: 610px;
    }
  }

  .modal-body {
    padding: 12px 0 6px 0 !important;
  }

  .material-checkbox-container {
    display : flex;
    margin  : 0;

    span {
      padding : 0 1rem;
    }
  }
}

.ModalCreateStore {
  // width: 80vw;

  .MapContainer {
    height: 371px;
    position: relative;
    border: 1px solid #ccc;

    .Map {
      height: 100%;
    }

    .FloatingContainer {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      // top: 1rem;
      // bottom: 1rem;
      background-color: #ffffff;
      border: 1px solid #cfd8dc;
      box-shadow: 0 0 10px -5px;

      .ImageContainer {
        position: relative;

        .Image {
          width: 280px;
          height: 120px;
          object-fit: cover;
        }
        .ImagePicker {
          position: absolute;
          right: 0.5rem;
          bottom: 0.5rem;
          background: transparent;
          color: #0097a7;
          padding: 0.25rem;
          display: flex;
          cursor: pointer;
          transition: 500ms;

          [type=file] {
            display: none;
          }

          &:hover {
            color: #0096a7da;
          }
        }
      }

      .Title {
        background-color: #0097a7;
        display: flex;
        align-items: center;
        color: #ffffff;
        padding: 10px;
        gap: 10px;

        span {
          font-size: 16px;
        }
      }

      .ScheduleContainer {
        .Row {
          display: flex;
          align-items: center;

          &:nth-child(even) {
            background: #FBFBFB;
          }

          .Column {
            height: 2.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            position: relative;

            &:not(:last-child) {
              border-right: 1px solid #cfd8dc;
            }

            &.Open,
            &.Close {
              width: 45%;
              cursor: pointer;
            }

            .TextValue.Closed{
              color: #ff3d00;
            }

            .Selector {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);
              display: flex;
              align-items: center;
              gap: 5px;
              padding: 5px;
              border: 2px solid #0097a7;
              background-color: #ffffff;
              border-radius: 5px;
              z-index: 999;

              &.Hidden{
                display: none;
              }

              input[type="time"]{
                border: 1px solid #cfd8dc;
              }

              .RangeSelector {
                width: auto;
                padding-left: 0;
                padding-right: 0;
              }

              .ClosedButton{
                border: none;
                outline: none;
                color: #ffffff;
                border-radius: 5px;
                display: grid;
                place-items: center;
                width: 30px;
                height: 30px;
                background-color: #cc3900;

                i{
                  font-size: 20px;
                }
              }
            }
          }

          .Day {
            font-weight: bold;
            width: 10%;
          }
        }
      }
    }
  }


  .AutocompleteResults {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 9999;
    border: 1px solid #cfd8dc;
    background-color: #ffffff;

    .AutocompleteResultRow {
      display: block;
      padding: 10px;
      color: #607d8b;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid #cfd8dc;
      }

      &:hover {
        background-color: #ffaf001a;
      }
    }
  }

  .SearchBox {
    display: flex;
    align-items: center;

    input {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0097a7;
      color: #ffffff;
      font-weight: bold;
      height: 34px;
      width: 45px;
      outline: none;
      border: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      .material-icons {
        font-size: 2rem;
      }
    }
  }

  .RowContainer {
    padding: 10px;
    border: 1px solid #cfd8dc;
  }

  .SelectableRow {
    padding: 10px 20px;
    border: 1px solid #cfd8dc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #607d8b;

    &.RowWithMarginBottom {
      margin-bottom: 5px;
    }

    &.RowWithMarginTop {
      margin-top: 15px;
    }

    .RowTitle {
      display: flex;
      align-items: center;

      i {
        color: #cfd8dc;
        font-size: 2em;
      }

      label {
        margin-left: 15px;
        margin-bottom: 0;
        font-size: 1.25em;
        font-weight: bold;
        cursor: pointer;
      }
    }

    input[type="checkbox"] {
      display: block;
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      margin: 0;
      accent-color: #0097a7;
    }

    .radio-container {
      label {
        margin: 0;
      }
    }

    .FlexContainerWithGap {
      display: flex;
      align-items: center;
      gap: 20px;

      .Timetable {
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
          color: #D3DBDE;
          width: 2rem;
          height: 2rem;
          flex-shrink: 0;
        }
      }
    }
  }

  .AutomaticContainer {
    border: 1px solid #cfd8dc;
    padding: 5px 0;

    .LabelTitle {
      color: #607d8b;
    }

    .DaysContainer {
      display: flex;
      align-items: center;
      gap: 5px;

      .DayBtn {
        border: 2px solid #455a64;
        color: #455a64;
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;

        &.Selected {
          background-color: #455a64;
          color: #ffffff;
        }
      }
    }
  }
}


.popover {
  max-width: 300px;
}