$transporter-primary: #0097a7;
$transporter-primary-dark: #007b89;
$transporter-secondary: #455a64;
$transporter-blue-text: #607d8b;
$transporter-footer: #263238;

$white: #ffffff;
$origen-green: rgb(155, 229, 107);
$destino-red: #ff5862;
$blue: #03C8FF;
$blue-hover: #06b2e2;
$grey: #b8b8b8;

$error-red: #a94442;