.descripcion-confirmar > p {
  margin-bottom: 2px;
}

.box.confirmar .motivo {
  overflow: hidden;
  text-overflow: ellipsis;
}

.motivo-imagen-name {
  color: #333;
}

@media (max-width: 362px) {

  .delete-link {
    text-align: left;
  }
}

@media (max-width: 484px) {

  .descripcion-store {
    padding: 10px 0 0 0 !important;
  }

}

@media (max-width: 768px) {
  .saludo.finalizado {
    padding: 0 15px;
  }
}