.btn-container {
  padding: 30px 0;

  & > button {
    color: $white;
    border-radius: 0;
    font-size: 1.4em;
    width: 180px;
    text-align: left;
    vertical-align: middle;
    position: relative;
    padding: 8px 17px;

    &:hover, &:focus {
      color: $white;
    }

    & > i {
      font-size: 1.4em;
      position: absolute;
      right: 17px;
    }
  }
}

.file-text-input {
  padding-right: 34px !important;
}

@media (max-width: 768px) {

  .box.motivos .motivo {
    padding-top: 10px;
  }
}