$transporter-primary: #ee8026;
$disabled-grey: #dadada;
$grey-border: #eaeaea;
$grey-background: #f3f3f3;
$white: #ffffff;
$grey-dark-border: #ccc;
$error-red: #a94442;
$origen-green: rgb(155, 229, 107);
$grey: #b8b8b8;
$transporter-secondary: #455a64;
$light-grey: #e7ecf1;
$destino-red: #ff5862;