.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.no-pd {
  padding: 0 !important;
}

.pd-t-15 {
  padding-top: 15px !important;
}

.pd-b-15 {
  padding-bottom: 15px !important;
}

.pd-l-10 {
  padding-left: 10px;
}

.pd-l-20 {
  padding-left: 20px;
}

.pd-l-70 {
  padding-left: 70px;
}

.pd-t-b-10 {
  padding: 10px 0;
}

.pd-l-r-15 {
  padding: 0 15px;
}

.no-mg-b {
  margin-bottom: 0;
}

.mg-t-10 {
  margin-top: 10px;
}

.mg-t-20 {
  margin-top: 20px;
}

.mg-r-5 {
  margin-right: 5px;
}

.mg-r-25 {
  margin-right: 25px;
}

.mg-b-40 {
  margin-bottom: 40px !important;
}

.texto-envio {
  color: $origen-green;
}

.icono-naranja {
  color: $transporter-primary;
}

.text-grey {
  color: $grey;
}

.text-secondary {
  color: $transporter-secondary;
}

.inline-block {
  display: inline-block;
}

.va-middle {
  vertical-align: middle;
}

.texto-recogida {
  color: $destino-red;
}

.f-w-normal {
  font-weight: normal;
}

.alert-danger {
  max-width: 1000px;
  margin: auto;
}