.pagos-detalles {
  font-size:0.9em;
  padding:8px 0 8px 0;
}

.pagos-detalles .icon-envios, .pagos-detalles .fa-thumbs-up, .pagos-detalles .fa-shopping-bag, .pagos-detalles .icon-cobertura {
  padding-left: 4px;
}

.g-pagos-paquetes {
  height: 100%;
  overflow: hidden;
  display: none;
}