.sidebar-menu {

  & > .separator {
    flex: 1;
  }

  & > li {
    white-space: nowrap;

    & > a {
      & > .fa-sign-out-alt {
        padding-bottom: 16px;
      }
    }
  }
}

.sidebar-collapse .sidebar-menu > li {
  height:44px;
}

.sidebar-collapse {
  & .sidebar-menu > #cuenta:hover {
    & > .treeview-menu {
      width: 195px;
      top: -160px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 0;
    }
    & > a > span {
      width: 195px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 4px;
    }

    & > a > .pull-right-container {
      left: 195px !important;
    }

    & > a .fa-angle-left {
      transform: rotate(90deg);
    }
  }
}

