.business-autocomplete {
  max-height: 200px;
  overflow: auto;
  border: 1px solid $light-grey;
  box-shadow: 6px 6px 9px -1px rgba(0,0,0,0.24);
  background-color: $white;
  position: absolute;
  z-index: 1;
  min-width: calc(100% - 30px);

  & > .autocomplete-item {
    padding: 10px;
    border-bottom: 1px solid $light-grey;

    &:hover {
      background-color: rgba(255, 175, 0, 0.10);
      cursor: pointer;
    }

    & p {
      margin: 0;
      color: $transporter-secondary;
    }
  }
}

.highlight {
  font-weight: bold;
  text-decoration: underline;
}