.dropdown-menu {
  top: 120%;
  border-radius: 0;
  box-shadow: 6px 6px 9px -1px rgba(0,0,0,0.24);

  & > li {
    position: relative;
  }

  & > li > a {
    color: $transporter-blue-text;
    font-size: 1.1em;
    //padding-left: 35px;
	 padding-left: 40px;

    & > i {
      font-size: 1.2em;
      position: absolute;
      left: 15px;
      top: 4px;
    }

    & > .fas.fa-tag {
      font-size: 1em;
      left: 14px;
      top: 7px;
    }

    & > .fas.fa-box-open {
      font-size: 1em;
      left: 11px;
      top: 7px;
    }

    & > .fas.fa-file-import {
      font-size: 1.05em;
      left: 11px;
      top: 6px;
    }

    & > .fas.fa-file-export {
      font-size: 1em;
      top: 6px;
    }

    & > .far.fa-trash-alt {
      left: 14px;
    }

    & > .fas.fa-print {
      font-size: 1.1em;
      left: 13px;
      top: 6px;
    }

    & > .find-in-page {
      font-size: 1.3em;
      left: 12px;
    }

    & > .fas.fa-truck {
      font-size: 1em;
      top: 6px;
      left: 13px;
    }

    & > .fas.fa-ban {
      font-size: 1.1em;
      left: 13px;
      top: 6px;
    }

    & > .fa-barcode {
      font-size: 1em;
      top: 7px;
      left: 13px;
    }

    & > .fa-envelope {
      font-size: 1em;
      top: 7px;
      left: 14px;
    }
  }

  & > .divider {
    margin: 6px;
  }

  &:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    content: '';
  }

  &:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
  }
}
