.modal {
  text-align: center;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 30px auto;
}


.small-modal {
  width: 600px;
}

button.close {
  font-size: 35px;
}

.modal-title {
  float: left;
}

@media (max-width: 767px) {
  .modal-dialog {
    width: 95%;
  }
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

// Modal de punto
.m-punto-popup {
  background-color: $white;
  width: 70%;
  max-width: 800px;
  height: auto;
  //position: absolute;
  margin: 0 auto;
  //left: 0;
  //right: 0;
  //top: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.m-punto-popup .modal-content {
  border: none;
}

.m-punto-popup .barra-superior {
  position: relative;
  overflow: hidden;
}

.m-punto-popup .barra-superior .icono-iz {
  float: left;
}

.m-punto-popup .barra-superior .icono-iz span {
  font-size: 3em;
  text-align: center;
  display: block;
  height: 100%;
  padding: 15px;
}

.m-punto-popup .barra-superior .ubicacion {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.m-punto-popup .barra-superior .ubicacion p {
  margin-bottom: 0;
  font-weight: 100;
}

.m-punto-popup .barra-superior .ubicacion p.nombre-punto {
  font-size: 1.5em;
}

.m-punto-popup .barra-superior .cerrar-popup {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  cursor: pointer;
}

.m-mapa-popup {

  & iframe {
    height: 130%;
    margin-top: -110px;
    width: 130%;
    margin-left: -230px;
  }

  & .mapa {
    height: 100%;
    overflow: hidden;
  }

  & .m-info-punto {
    position: absolute;
    height: 90%;
    width: 40%;
    background-color: $white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(86, 86, 86, 0.3);
    right: 30px;
    top: 20px;

    & .foto-punto {
      height: 150px;
      overflow: hidden;
      position: relative;
      padding: 15px 15px 0 15px;
      text-align: center;

      & img {
        height: 100%;
        width: auto;
      }

    }

    & .titulo-horario {
      padding: 7px 15px;

      & p {
        margin: 0;
      }
    }
  }

  & .horario-punto table {
    border-bottom: 0;

    & tr:nth-child(even) {
      background-color: #fbfbfb;
    }

    & tr td:first-child {
      padding-left: 15px;
    }

    & td {
      padding: 5px;
      border: none;
      text-align: center;

      &.mañana {
        border-right: 1px solid #e5e5e5;
      }
    }
  }
}

@media (min-width: 769px) {
  .m-mapa-popup {
    height: 441px;
    position: relative;
  }

}

@media (max-width: 768px) {

  #l-envio-popup.show-store-modal.store {

    & > .modal-dialog, & .modal-content {
      width: 100%;
      height: 100%;
    }

    & .m-mapa-popup {
      height: 100%;
      position: relative;
      overflow-y: auto;
      min-height: 400px;

      & .mapa {
        display: none;
      }

      & .m-info-punto {
        min-height: 540px;
        width: 100%;
        height: 100%;
        box-shadow: none;
        border: none;
        right: auto;
      }

    }

    & .m-punto-popup {

      & .barra-superior  {

        & .ubicacion {
          margin-bottom: 10px;
        }

        & .ubicacion p.nombre-punto {
          font-size: 1em;
        }

        & .icono-iz {
          display: none;
        }

      }

    }
  }

  #l-envio-popup.show-store-modal.domicilio {

    & > .modal-dialog, & .modal-content {
      width: 100%;
      height: 100%;
    }

    & .m-mapa-popup {
      height: 100%;
      position: relative;
      overflow-y: auto;
      min-height: 400px;

      & iframe {
        margin-left: 0!important;
        width: 100%;
      }

    }

    & .m-punto-popup {

      & .barra-superior  {
        height: 60px;

        & .ubicacion {
          margin-bottom: 10px;
        }

        & .ubicacion p.nombre-punto {
          font-size: 1em;
        }

        & .icono-iz {
          display: none;
        }

      }

    }
  }

  #modal-editar-destinatario .modal-body, #modal-editar-destinatario .modal-title {
    padding-left: 0;
    padding-right: 0;
  }

}