button:active {
  outline: 0 !important;
}

.business-btn-outline {
  color: $transporter-primary;
  background-color: $white;
  border: 1px solid $transporter-primary;
  position: relative;

  &#seleccionar-btn {
    padding-top: 3px;
    padding-bottom: 2px;
  }

  &.with-icon-left {

    & > i {

      &.icon-editar-perfil {
        border: 2px solid #ee8026;
        border-radius: 50%;
        padding: 4px;
        font-size: 0.75em;
      }

      &.material-icons {
        vertical-align: middle;
        height: 27px;
      }
    }
  }

  &:hover {
    background-color: $transporter-primary;
    color: $white;

    & .icon-editar-perfil {
      border-color: $white !important;
    }
  }
}