.delete-link {
  color: #333;
  border: 0;
  
  &:hover {
    color: $error-red;
    text-decoration: underline;
  }

  &:focus {
    color: $error-red;
    outline: 0 !important;
    text-decoration: underline;
  }
}

.cambiar-link:hover {
  text-decoration: underline;
}