.steps-container {
  display: flex;
  padding: 20px;
}

.steps {
  margin: 0 auto;
  width: 230px;
  height: 100px;
  display: flex;
  flex-direction: row;

  & > div:not(.error) {
    height:32px;
    margin: auto 0;
  }

  & > .error {
    position: relative;
    border: 1px solid $error-red;
    border-radius: 100%;
    padding: 8px 12px;
    height: 40px;
    margin: auto;

    & > i {
      font-size: 1.7em;
      color: $error-red;
    }
  }

  & > .number {
    position: relative;
    border: 1px solid $transporter-primary;
    border-radius: 100%;
    padding: 5px 12px;
    width: 34px;

    & > .fa-check {
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 1.2em;
    }

    &:not(.active) {
      color: $disabled-grey;
      border-color: $disabled-grey;
    }

    & > span {
      position: absolute;
      bottom: -21px;

      &.motivos {
        left: -7px;
      }

      &.entrega {
        left: -8px;
      }

      &.confirmar {
        left: -13px;
      }

    }
  }

  .separator {
    width: 64px;
    position: relative;

    &:not(.active) {
      &:before {
        border-color: $disabled-grey;
      }
    }

    &:before {
      content: '';
      position: absolute;
      border-top: 1px solid $transporter-primary;
      top:50%;
      width: 100%;
      height: 1px;
    }
  }

}