$transporter-primary: #ee8026;
$transporter-primary-dark: #c15700;
$transporter-secondary: #455a64;
$transporter-blue-text: #607d8b;
$transporter-footer: #263238;
$transporter-title: #52627d;
$transporter-green: #26c281;

$white: #ffffff;
$origen-green: rgb(155, 229, 107);
$destino-red: #ff5862;
$blue: #03C8FF;
$blue-hover: #06b2e2;
$grey: #b8b8b8;
$tarifa-heading-grey: #e1e6e8;
$tarifas-blue: #3e5066;
$light-grey: #e7ecf1;
$light-grey-2: #cfd8dc;
$error-red: #a94442;
$grey-border: #dddddd;

$table-edit-blue: #2196f3;