* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0!important;
}

body {
  font-family: Open Sans;
  margin: 0;
  padding: 0 !important;

  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

button, a {
  transition: all .4s;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px;
}

.input-with-icon {
  margin: 0 7px;
  width: 20%;
  position: relative;
  & input {
    padding: 12px 12px 12px 35px;
    font-size: 1.15em;
  }
  & i {
    font-size: 1.3em;
    position: absolute;
    top: 13px;
    left: 13px;
  }

  &.origen-input i {
    color: $origen-green;
  }

  &.destino-input i {
    color: $destino-red;
  }

}


.peso-input {
  @extend .input-with-icon;

  & i {
    top: 14px;
    left: 8px;
    color: $transporter-primary;
  }
}

input {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

button:focus, a:focus {
  outline: 0 !important;
}