.api-key-btn-container {
  & button {
    max-width: 300px;
    width: 100%;
    min-width: 195px;
  }

  & p {
    margin-top: 7px;
  }
}

.api-key-input {
  padding-right: 48px;
}

.integration-container {
  width: 300px;
  border: 1px solid $light-grey;
  border-radius: 5px;
  box-shadow: #b8b8b8 4px 5px 7px -2px;
  margin-bottom: 15px;
  float: left;
  margin-right: 30px;

  & > .header {
    padding: 15px 15px 0 15px;
    text-align: center;

    & > p {
      text-align: left;
    }

    & > img {
      max-width: 100%;
      width: auto;
      padding: 0 15px;
      margin-top: 10px;
      max-height: 39px;
    }
  }



  & > .footer {
    margin-top: 20px;
    height: 60px;
    background: #eff2f6;
    border-top: 1px solid $light-grey;

    & > a {
      margin-top: 13px;
      float: right;
      margin-right: 16px;

      &.btn-default {
        background-color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .api-key-btn-container > div {
    padding: 0;
  }
}