.condiciones-input {
  color: $transporter-secondary;
  max-width: 230px;
}

.condiciones-especificas {
  max-width: 100%;
  width: 576px;
  font-size: 0.82em;
  color: $tarifas-blue;

  & p {
    margin-bottom: 5px;
  }

  & a:not(:hover) {
    color: $tarifas-blue;
  }
}

.tarifa-table-container {
  overflow: auto;
  .tarifa-table {
    & th, & td {
      white-space: nowrap;
    }

  }
}