#pwd-container > div {
  margin-top: 33px;
  margin-bottom: 2px;

  & .progress {
    margin-bottom: 24px;
  }
}



@media (max-width: 767px) {
  .datos-usuario-section {
    & .business-btn {
      min-width: 167px;
    }
  }
}

@media (max-width: 991px) {
  #pwd-container > div {
    margin-top: 49px;
    margin-bottom: 2px;
  }
}

