.tracking-section > .tracking-error {
  min-height: 650px;
  display: flex;

    & .alert {
      margin: auto;
    }
}

.tracking-container {
  padding: 15px;

  & > div:first-child {
    padding-right: 8px;
    padding-left: 0;
  }

  & > div:last-child {
    padding-left: 8px;
    padding-right: 0;
  }
  
  & .close-icon {
    display: none;
  }
}

.tracking-map {
  min-height: 571px;
}

.estado-actual-container {
  min-height: 181px;
  & > h4 {
    color: #3d525c;
  }

  & > p {
    color: #577584;
  }

}

.estado-container {

  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;

  &.last {
    min-height: 60px;
  }

  &:not(.last) {
    min-height: 100px;
  }

  & .titulo {
    font-size: 1.15em;
    font-weight: bold;
    color: #17242c;
  }

  & .fecha {
    color: #596c74;
  }

  & .direccion {
    color: #688391;
  }

  &.even {
    padding-right: 40px;
    &:not(.last,.ruta)::after {
      border-right: 4px solid #688391;
      content: '';
      right: -2px;
      top: 0;
      position: absolute;
      height: 100%;
    }

    &.ruta:not(.last)::after {
      border-right: 4px dotted #688391;
      content: '';
      right: -2px;
      top: 0;
      position: absolute;
      height: 100%;
    }

    & > button {
      right: -25px;
    }
  }

  &.odd {
    margin-left: 50%;
    padding-left: 40px;
    &:not(.last,.ruta)::before {
      border-left: 4px solid #688391;
      content: '';
      left: -2px;
      top: 0;
      position: absolute;
      height: 100%;
    }

    &.ruta:not(.last)::before {
      border-left: 4px dotted #688391;
      content: '';
      left: -2px;
      top: 0;
      position: absolute;
      height: 100%;
    }

    & > button {
      left: -25px;
    }
  }

  & button {
    position: absolute;
    top: 0;
    z-index: 1;
  }
}

.estados-info {
  max-height: 390px;
  min-height: 390px;
  overflow: hidden;
}

@media (max-width: 768px) {

  .estados-info {
    height: 268px;
    min-height: 268px !important;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
  }

  /** Tracking estados horizontal **/
  .estado-container {
    height: 50% !important;
    margin-left: unset !important;
    padding-right: 0 !important;
    min-width: 120px;
  }

  .estado-container.even:not(.last):not(.ruta)::after {
    border-bottom: 4px solid #688391;
    border-right: none;
    content: '';
    bottom: -2px;
    position: absolute;
    width: 100%;
  }

  .estado-container.odd.ruta:not(.last)::before {
    border-top: 4px dotted #688391;
    border-left: none;
    content: '';
    top: -5px;
    position: absolute;
    width: 100%;
  }

  .estado-container.even {
    padding-bottom: 27px;
    padding-left: 0;
  }
  .estado-container.odd {
    padding-top: 27px;
    padding-left: 0;
  }

  .estado-container.first {
    margin-left: 25px !important;
  }

  .estado-container.last {
    padding-right: 20px !important;
    min-width: 140px;
  }

  .estado-container.even > button {
    bottom: -23px;
    top: auto;
    right: auto;
    left: -25px;
  }

  .estado-container.odd {
    margin-top: 114px;
  }

  .estado-container.odd:not(.last):not(.ruta)::before {
    border-top: 4px solid #688391;
    border-left: none;
    content: '';
    top: -5px;
    position: absolute;
    width: 100%;
  }

  .estado-container.odd > button {
    top: -28px;
    right: auto;
    left: -23px;
  }

  .estado-container.even.ruta:not(.last)::after {
    border-bottom: 4px dotted #688391;
    border-right: none;
    content: '';
    bottom: -2px;
    position: absolute;
    width: 100%;
  }

  .tracking-container {

    & > div {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

    & .close-icon {
      display: block;
      position: absolute;
      top: 9px;
      right: 10px;
      z-index: 1;
      width: 40px;
      height: 40px;
      padding: 6px;
      background-color: white;
      border-radius: 2px;
      //border: 1px solid rgb(230, 230, 230);
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;

      & i {
        position: absolute;
        top: 6px;
        left: 6px;
        font-size: 2em;
        font-weight: bold;
        color: #666666;
      }
    }
  }

  .tracking-modal > .modal-dialog {
    width: 100%;
  }

  .tracking-map {
    min-height: 300px !important;
  }


}