.section-title {
  color: $transporter-title;
}

.box {
  border-top: 3px solid $transporter-primary;

  & .box-title {
    color: $transporter-footer;
    font-weight: 600;
  }

  & > .box-body {

    & > .row > div {
      padding: 20px;
    }
  }
}

input:focus {
  outline: 0 !important;
}

aside li.active i.fa-angle-left {
  transform: rotate(180deg);
}

.business-box-title {
  width: 50%;
}

.breadcrumb > li {
  color: #8c8c8c !important;
}

@media (max-width: 767px) {
  .business-box-title {
    width: 100%;
  }
}

.form-control {
  height: auto;
}